

body {
  padding-top: 30px;
  background-color: #e0d0bf;
  background-image: url("BG2.avif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}



#card--pfp {
 border-radius: 100px;
  width: 150px;
  height: 150px;
  position: sticky;
  right: 1490px;
  left: 1240px;
  border-top: 700px;
  align-items: flex-start;
  filter: saturate(0.7);
  
  opacity: 1;
    box-shadow: 0 0 10px 0.5px rgb(62, 53, 41);
    -webkit-box-reflect: below -8px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(91%, transparent), to(white));
 }

 .card {
  text-align: center;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.85);
-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.85);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.85);
  width: 400px;
  height: 500px;
  position: sticky;
  left: 670px;
  top: 300px;
  background-color: hsla(180, 100%, 90%, 0.569);
  z-index: -1;
  border: 4px dotted#9eeaff74;
  border-radius: 20px;
  
 }

.card-fullname {
  text-align: center;
  position: absolute;
  right: 170px;
  top: 5px;
  text-shadow: 1px 1px 3px rgb(32, 32, 31);
  
}
h1 { font-family: Cambria; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 16.5px; } h3 { font-family: Cambria, Georgia, serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Cambria; font-size: 12px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 17.1429px; } blockquote { font-family: Cambria, Georgia, serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Cambria, Georgia, serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

h2 { font-family: Perpetua; font-size: 24px; font-style: normal; font-variant: small-caps; font-weight: 400; line-height: 26.4px; } h3 { font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

.card-title {
  text-align: center;
  box-shadow: -1px 3px 12px -2px rgba(51,51,51,0.75);
-webkit-box-shadow: -1px 3px 12px -2px rgba(51,51,51,0.75);
-moz-box-shadow: -1px 3px 12px -2px rgba(51,51,51,0.75);
  position: absolute;
  text-transform: uppercase;
  left: 40px;
  top: 40px;
  color: #cccccc;
  border-style: double;
  background-color: rgba(233, 233, 233, 0.555);
  text-shadow: 1px 1px 2px black;
  box-sizing: border-box;
 
  
}

h3 { font-family: Candara; font-size: 24px; font-style: normal; font-variant: small-caps; font-weight: 400; line-height: 26.4px; } h3 { font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
  



.card-info {
  
  margin: 40px;
  border: 20px;
  padding: 50px solid;
  font-size: small;
  position: absolute;
  text-align: justify;
  width: 300px;
  padding-top: 170px;
  
  
  
  


}
.card-above {
  text-align: center;
  position: absolute;
  top: 150px;
  left: 150px;
}

#double {
  border-style: double #000000;
}
.card-bcgrd {
  background-color: #e0d0bf;
  background-image: url(BG2.avif);
}

#wrapper {
  margin-left:auto;
  margin-right:auto;
  width:2000px;
}